html {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  /*background-color: rgb(10, 14, 52);*/
  font-size: 14px;
  box-sizing: border-box;
  max-width: 1920px;
}


/*Хейдер*/

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  /*  background: linear-gradient(url(img/img_desktop/football.jpg) 100% 100% rgb(10, 14, 52) 50%, transparent 50%);*/
  background: rgb(10, 14, 52) url(img/img_desktop/football.jpg);
  background-blend-mode: overlay, soft-light, multiply;
  background-size: cover;
}

.logo {
  width: 12%;
  margin-top: 2.7%;
  margin-left: 22.5%;
}

p.be, p.play {
  color: #ffffff;
  font: bold 556% "OpenSans-Bold";
  width: 1030px;
  letter-spacing: 3.1px;
}

.be {
  margin-top: 15.5%;
  text-align: left;
  margin-bottom: 0;
  height: 80px;
}

.play {
  margin-top: 0;
  text-align: right;
  margin-left: 42.5%;
}

.buttonsHeader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 5.4% 0 6% 21%;
}

ul.appStore, ul.googlePlay {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 15%;
  flex-shrink: 1.5;
  background: #5e42b0;
  border-radius: 45px;
  height: 65px;
  padding: 0 2% 0 2%;
  text-transform: uppercase;
}

ul.appStore {
  margin-right: 4.2%;
}

.appStore svg {
  fill: #ffffff;
  width: 30%;
}

.googlePlay svg {
  fill: #ffffff;
  width: 20%;
  padding-left: 6%;
}

.googlePlay li {
  display: flex;
  flex-direction: column;
  padding-left: 3.5%;
}

li {
  list-style-type: none;
  color: #ffffff;
  font: 90% "OpenSans-Regular";
  margin-left: 7%;
}

a {
  text-decoration: none;
  color: #ffffff;
  font: 90% "OpenSans-Bold";
  letter-spacing: 1.2px;
}


/*ATHLETS*/

.athlets {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.athlets_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: 815px;
}

.athlets h2 {
  color: #c1c1c1;
  font: 230% "OpenSans-Bold";
  text-transform: uppercase;
}

.athlets p {
  font: 143% "OpenSans-Regular";
  color: #c1c1c1;
}

.athlets img {
  width: 42.5%;
  margin-left: 20%;
}

.athlets h1 {
  color: #e7e7e7;
  font: 490% "OpenSans-Bold";
  height: 40%;
  text-align: left;
  text-transform: uppercase;
  margin-top: 74px;
  margin-left: 20px;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("OpenSans-Bold.woff2") format("woff2"), url("OpenSans-Bold.woff") format("woff"), url("fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("OpenSans-Regular.woff2") format("woff2"), url("OpenSans-Regular.woff") format("woff"), url("fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
