html {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(10, 14, 52);
  font-size: 14px;
  box-sizing: border-box;
  max-width: 1920px;
}


/*Хейдер*/

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: url(img/img_desktop/football.jpg) no-repeat top right, rgb(10, 14, 52);
  background-size: cover;
}

.logo {
  width: 14.5%;
  margin-top: 3.45%;
  margin-left: 43.5%;
}

p.be, p.play {
  color: #ffffff;
  font: bold 656% "OpenSans-Bold";
  width: 58.6%;
  letter-spacing: 1.5px;
}

.be {
  margin-top: 15%;
  text-align: left;
  margin-bottom: 0;
  height: 80px;
}

.play {
  margin-top: 0;
  text-align: right;
  margin-left: 380px;
}

.buttonsHeader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 70px 0px 75px 60px;
}

ul.appStore, ul.googlePlay {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 15%;
  flex-shrink: 1.5;
  background: #5e42b0;
  border-radius: 45px;
  height: 65px;
  padding: 0 30px 0 30px;
  text-transform: uppercase;
}

ul.appStore {
  margin-right: 50px;
}

.appStore svg {
  fill: #ffffff;
  width: 30%;
  margin-bottom: 10px;
}

.googlePlay svg {
  fill: #ffffff;
  width: 20%;
  padding-left: 12px;
}

.googlePlay li {
  display: flex;
  flex-direction: column;
  padding-left: 7px;
}

li {
  list-style-type: none;
  color: #ffffff;
  font: 90% "OpenSans-Regular";
  margin-left: 14px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font: 90% "OpenSans-Bold";
  letter-spacing: 1.2px;
}


/*ATHLETS*/

.athlets {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.athlets_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.athlets_text h1 {
  color: #e7e7e7;
  font: 500% "OpenSans-Bold";
}

.athlets img {
  width: 43.5%;
  height: 40%;
  margin-left: 220px;
}

.athlets h2 {
  color: #c1c1c1;
  font: 300% "OpenSans-Bold";
  text-transform: uppercase;
}

.athlets p {
  font: 143% "OpenSans-Regular";
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("OpenSans-Bold.woff2") format("woff2"), url("OpenSans-Bold.woff") format("woff"), url("fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("OpenSans-Regular.woff2") format("woff2"), url("OpenSans-Regular.woff") format("woff"), url("fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
