html {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  /*background-color: rgb(10, 14, 52);*/
  font-size: 14px;
  box-sizing: border-box;
  max-width: 1920px;
}


/*Хейдер*/

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  /*  background: linear-gradient(url(img/img_desktop/football.jpg) 100% 100% rgb(10, 14, 52) 50%, transparent 50%);*/
  background: rgb(10, 14, 52) url(img/img_desktop/football.jpg);
  background-blend-mode: overlay, soft-light, multiply;
  background-size: cover;
}

.logo {
  width: 10%;
  margin-top: 2.4%;
  margin-left: 3.6%;
}

p.be, p.play {
  color: #ffffff;
  font: bold 556% "OpenSans-Bold";
  width: 80%;
  letter-spacing: 3.1px;
}

.be {
  margin-top: 13%;
  text-align: left;
  margin-bottom: 0;
  height: 80px;
}

.play {
  margin-top: 0;
  text-align: right;
  margin-left: 6%;
}

.buttonsHeader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 4.7% 0 5.1% 0;
}

ul.appStore, ul.googlePlay {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 12.5%;
  flex-shrink: 1.5;
  background: #5e42b0;
  border-radius: 45px;
  height: 65px;
  padding: 0 2% 0 2%;
  text-transform: uppercase;
}

ul.appStore {
  margin-right: 3%;
  margin-left: 2.6%
}

.appStore svg {
  fill: #ffffff;
  width: 30%;
}

.googlePlay svg {
  fill: #ffffff;
  width: 20%;
  padding-left: 6%;
}

.googlePlay li {
  display: flex;
  flex-direction: column;
  padding-left: 3.5%;
}

li {
  list-style-type: none;
  color: #ffffff;
  font: 90% "OpenSans-Regular";
  margin-left: 7%;
}

a {
  text-decoration: none;
  color: #ffffff;
  font: 90% "OpenSans-Bold";
  letter-spacing: 1.2px;
}


/*ATHLETS*/

.athlets {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.athlets_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  height: 815px;
}

.athlets h2 {
  color: #c1c1c1;
  font: 230% "OpenSans-Bold";
  text-transform: uppercase;
  margin-left: 1.3%;
}

.athlets p {
  font: 130% "OpenSans-Regular";
  color: #c1c1c1;
}

.athlets img {
  width: 35%;
  padding-left: 18%;
  padding-bottom: 1%;
}

.athlets h1 {
  color: #e7e7e7;
  font: 490% "OpenSans-Bold";
  height: 14%;
  text-align: left;
  text-transform: uppercase;
  margin-top: 10%;
  margin-left: 2.4%;
  margin-bottom: 0;
}

.marker span {
  position: relative;
  padding-bottom: 1%;
  font: bold 110.5% "OpenSans-Bold";
}

.marker span:before {
  content: "";
  position: absolute;
  bottom: -6%;
  width: 100%;
  border-bottom: 5px solid #5e42b0;
  border-radius: 5px;
}

.athlets_connection {
  height: 19%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.athlets_subtitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2.4%;
  height: 20%;
}

.athlets_connection p {
  text-align: left;
  padding-left: 2.4%;
  letter-spacing: 0.3px;
}


/*athlets_collaboration*/

.athlets_collaboration {
  height: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.athlets_collaboration .athlets_subtitle {
  margin-top: 7%;
}

.athlets_collaboration p {
  text-align: left;
  padding-left: 2.4%;
  letter-spacing: 0.3px;
  width: 81%;
  height: 72%;
}


/*athlets_growth*/

.athlets_growth {
  height: 31%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.athlets_growth .athlets_subtitle {
  margin-top: 2.7%;
}

.athlets_growth p {
  text-align: left;
  padding-left: 2.4%;
  width: 77%;
  height: 30%;
  margin-top: 0.9%;
}


/*PLAYER*/

.player {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
}

.player_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: 815px;
  padding-left: 268px;
}

.player img {
  width: 53%;
  height: 50%;
  position: relative;
  top: -25px;
  margin-right: 3.4%;
}

.player h1 {
  color: #e7e7e7;
  font: 490% "OpenSans-Bold";
  height: 14%;
  text-align: left;
  text-transform: uppercase;
  margin-top: 17.2%;
  margin-bottom: 3.9%
}

.player h2 {
  color: #c1c1c1;
  font: 230% "OpenSans-Bold";
  text-transform: uppercase;
  margin-left: 2%;
  letter-spacing: 0.3px;
}

.player_connection {
  height: 22%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 6%;
}

.player_subtitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2.4%;
  height: 20%;
}

.player_connection p {
  text-align: left;
  padding-left: 2.4%;
  letter-spacing: 0.3px;
  font: 130% "OpenSans-Regular";
  color: #c1c1c1;
  width: 100%;
}


/*player_collaboration*/

.player_collaboration {
  height: 26%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player_collaboration .player_subtitle {
  margin-top: 9%;
}

.player_collaboration p {
  text-align: left;
  padding-left: 2.4%;
  height: 72%;
  margin-top: 5%;
  font: 130% "OpenSans-Regular";
  color: #c1c1c1;
}


/*player_growth*/

.player_growth {
  height: 31%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player_growth .player_subtitle {
  margin-top: 5.5%;
}

.player_growth p {
  text-align: left;
  padding-left: 2.4%;
  width: 100%;
  margin-top: 1%;
  height: 17%;
  font: 130% "OpenSans-Regular";
  color: #c1c1c1;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("OpenSans-Bold.woff2") format("woff2"), url("OpenSans-Bold.woff") format("woff"), url("fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("OpenSans-Regular.woff2") format("woff2"), url("OpenSans-Regular.woff") format("woff"), url("fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
